/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBanner {
  background-color: #fff;
}

[data-theme='dark'] .heroBanner {
  background-color: #242526;
}

.cards {
  max-width: 1108px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  column-gap: 15px;
  justify-items: center;
}

.cardImg {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.cardText {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* height: 70px; */
}

.myButton {
  background-color: #59d4e9 !important;
  color: #fff !important;
}

[data-theme='dark'] .myButton {
  background-color: #59d4e9 !important;
  color: #000 !important;
}

@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
}
